.container.teal.darken-3#wall
      .row
        .col.s12
          .card.center-align.deep-orange.accent-1
            h1 Clone-Facebook
        .col.s4
          .card#userMoreActive     
        .col.s12#new-store
          textarea#store-text(placeholder="Que estas pensando")
          button.btn#send-store
            i.material-icons send
      .row#store