.container#login
  .card.blue-grey.darken-4
    .row.valign-wrapper
      .col.s6.input-field
        label(for="userName")
        input.white-text#userName(placeholder="Ingresa tu usuario")
      .col.s6.input-field
        label(for="password")
        input.white-text#password(type="password" placeholder="Ingresa tu password")  
      button.btn#do-login Login